  <h3>{{question.questiontitle}}</h3>
  <p>
    <span class="display-date">{{question.author}}, </span>{{question.date}}.
  </p>
  <p>
    {{break-lines question.details}}
  </p>

  <h2>Answers</h2>

<div class="well">
  <ul>
      {{# each question.answers as |answer|}}
      {{answer-tile answer=answer}}
      {{/each}}
  </ul>
</div>
