  <h2>{{question.questiontitle}}</h2>
  <p>
    <span class="display-date">{{question.author}}, </span>{{question.date}}.
  </p>
  <p>
    {{break-lines question.details}}
  </p>

  <h3>Answers</h3>

  {{# each question.answers as |answer|}}
  {{answer-tile answer=answer upvote="upvote" downvote="downvote"}}
  {{/each}}
