<div class="well question-tile">
  <h3>{{question.questiontitle}}</h3>
  <p>
    <span class="display-date">{{question.author}}, </span>{{question.date}}.
  </p>
  <p>
    {{question.details}}
  </p>
</div>

<!-- <div class="well"> -->

  <!-- {{#each question.answers as |answer|}}
    {{answer.answer}}
  {{/each}} -->

  <!-- {{#each question.answers as |answer|}}
     {{answer-tile answer=answer}}
   {{/each}}
</div>
