
<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h2 class="title">Categories:</h2>
        <ul class="list-group">
          {{#each model.questions as |question|}}
            {{questions-categories question=question}}
          {{/each}}
        </ul>
    </div>
  </div>
  <div class="col-md-8">
    {{#each model.questions as |question|}}
      {{question-tiles question=question}}
    {{/each}}
    <div class="well">
      <h1>Ask a new Question</h1>
      {{new-question question=question askQuestion="askQuestion"}}
    </div>

    <div class="row">
      <div class="col-md-12">
        {{#each model.answers as |answer|}}
        <ul>
        <li>{{answer.date}}</li>
        <li>{{answer.author}}</li>
        <li>{{answer.answer}}</li>
        </ul>
        {{/each}}
      </div>
    </div>


  </div>
</div>
